* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  width: 12px; }

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
  width: 10px; }

::-webkit-scrollbar-button {
  display: none;
  background: transparent; }

html,
body {
  height: 100%; }

body {
  background: #a7e1e6;
  background: -webkit-linear-gradient(top, #a7e1e6, white 100%);
  background-repeat: repeat-x;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  height: 100%;
  line-height: 150%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Maven Pro", sans-serif;
  font-weight: normal; }

h1 {
  font-size: 2em; }

header {
  background: #202020;
  margin-bottom: 10px;
  padding: 20px; }
  header h1 {
    background: url("../img/realizrlogo.png") no-repeat;
    height: 51px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 462px; }

p {
  font-size: 0.8em; }

.clearFix:before,
.clearFix:after {
  content: "";
  display: table; }

div[role="main"],
header > div {
  margin: 0 auto;
  padding: 5px;
  width: 80%; }

.li-double, .list-item.active, .active.add-item {
  width: 470px; }

.li-triple {
  width: 710px; }

.ui-sortable-placeholder {
  background: #eeeeee;
  border: 1px solid red; }

.list-item, .add-item {
  background: #202020;
  -web-kit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -web-kit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  float: left;
  height: 270px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px;
  width: 230px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .list-item .right-section, .add-item .right-section,
  .list-item .left-section,
  .add-item .left-section {
    float: left;
    height: 260px;
    width: 210px; }
  .list-item .right-section, .add-item .right-section {
    overflow: scroll;
    height: 100%;
    width: 230px; }
    .list-item .right-section h2, .add-item .right-section h2 {
      font-size: 1.4em;
      line-height: 100%;
      margin: 0; }
    .list-item .right-section p, .add-item .right-section p {
      margin-top: 0; }
    .list-item .right-section .options, .add-item .right-section .options {
      list-style: none;
      margin: 0;
      padding: 0; }
      .list-item .right-section .options .complete, .add-item .right-section .options .complete {
        background: #d6dc36;
        color: #202020;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
        padding: 4px;
        border-radius: 4px; }
        .list-item .right-section .options .complete:hover, .add-item .right-section .options .complete:hover {
          background: #dfe461; }
    .list-item .right-section::-webkit-scrollbar-thumb, .add-item .right-section::-webkit-scrollbar-thumb {
      border-radius: 10px;
      width: 10px; }
  .list-item:hover, .add-item:hover {
    cursor: pointer;
    -web-kit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2); }
    .list-item:hover .right-section, .add-item:hover .right-section {
      overflow-y: scroll; }
  .list-item.active .left-section, .active.add-item .left-section {
    margin-right: 10px; }
  .list-item .main-image, .add-item .main-image {
    display: block;
    height: 210px;
    overflow: hidden; }
    .list-item .main-image img, .add-item .main-image img {
      display: block;
      margin: 0 auto; }
  .list-item .title, .add-item .title {
    color: white;
    font-size: 1.2em;
    line-height: 100%; }

.add-item .title {
  text-align: center; }
